.player-container {
  margin-bottom: 15px;
}

.player-container > h1 {
  text-align: center;
  font-family: Impact;
}

.player-video {
  height: 600px;
  width: 600px;
  margin:auto;
}
.player-video iframe {
  height: 600px;
  width: 600px;
  margin-left:auto;
  margin-right:auto;
}
